<ul>
  <li><a href="#two" ng-click="show = !show">two</a></li>
  <li><a href="#three">three</a></li>
  <li><a href="#four">four</a></li>
  <li><a href="#five">five</a></li>
  <li><a href="#six">six</a></li>
  <li><a href="#seven">seven</a></li>
  <li><a href="#eight">eight</a></li>
  <li><a href="#nine">nine</a></li>
  <li><a href="#ten">ten</a></li>
  <li><a href="#eleven">eleven</a></li>

  <!-- <button href="#two" class="button-number 2" ng-click="2">2</button>
  <button href="#three" class="button-number 3">3</button>
  <button href="#four" class="button-number 4">4</button>
  <button class="button-number 5">5</button>
  <button class="button-number 6">6</button>
  <button class="button-number 7">7</button>
  <button class="button-number 8">8</button>
  <button class="button-number 9">9</button>
  <button class="button-number 10">10</button>
  <button class="button-number 11">11</button>
  <button class="button-refresh">Refresh</button> -->
</ul>
