<p>Partial Eight</p>

<ul ng-repeat="item in items | modulo:8 ">
  <li>{{item}}</li>
</ul>

<hr>

<ul ng-repeat="item in items | modulo:8:1 ">
  <li>{{item}}</li>
</ul>

<hr>

<ul ng-repeat="item in items | modulo:8:2 ">
  <li>{{item}}</li>
</ul>

<hr>

<ul ng-repeat="item in items | modulo:8:3 ">
  <li>{{item}}</li>
</ul>

<hr>

<ul ng-repeat="item in items | modulo:8:4 ">
  <li>{{item}}</li>
</ul>

<hr>

<ul ng-repeat="item in items | modulo:8:5 ">
  <li>{{item}}</li>
</ul>

<hr>

<ul ng-repeat="item in items | modulo:8:6 ">
  <li>{{item}}</li>
</ul>

<hr>

<ul ng-repeat="item in items | modulo:8:7 ">
  <li>{{item}}</li>
</ul>
