<p>Partial Eight</p>

<ul ng-repeat="item in items | modulo:11 ">
  <li>{{item}}</li>
</ul>

<hr>

<ul ng-repeat="item in items | modulo:11:1 ">
  <li>{{item}}</li>
</ul>

<hr>

<ul ng-repeat="item in items | modulo:11:2 ">
  <li>{{item}}</li>
</ul>

<hr>

<ul ng-repeat="item in items | modulo:11:3 ">
  <li>{{item}}</li>
</ul>

<hr>

<ul ng-repeat="item in items | modulo:11:4 ">
  <li>{{item}}</li>
</ul>

<hr>

<ul ng-repeat="item in items | modulo:11:5 ">
  <li>{{item}}</li>
</ul>

<hr>

<ul ng-repeat="item in items | modulo:11:6 ">
  <li>{{item}}</li>
</ul>

<hr>

<ul ng-repeat="item in items | modulo:11:7 ">
  <li>{{item}}</li>
</ul>

<hr>

<ul ng-repeat="item in items | modulo:11:7 ">
  <li>{{item}}</li>
</ul>

<hr>

<ul ng-repeat="item in items | modulo:11:8 ">
  <li>{{item}}</li>
</ul>

<hr>

<ul ng-repeat="item in items | modulo:11:9 ">
  <li>{{item}}</li>
</ul>

<hr>

<ul ng-repeat="item in items | modulo:11:10 ">
  <li>{{item}}</li>
</ul>
