<p>Partial Nine</p>

<ul ng-repeat="item in items | modulo:9 ">
  <li>{{item}}</li>
</ul>

<hr>

<ul ng-repeat="item in items | modulo:9:1 ">
  <li>{{item}}</li>
</ul>

<hr>

<ul ng-repeat="item in items | modulo:9:2 ">
  <li>{{item}}</li>
</ul>

<hr>

<ul ng-repeat="item in items | modulo:9:3 ">
  <li>{{item}}</li>
</ul>

<hr>

<ul ng-repeat="item in items | modulo:9:4 ">
  <li>{{item}}</li>
</ul>

<hr>

<ul ng-repeat="item in items | modulo:9:5 ">
  <li>{{item}}</li>
</ul>

<hr>

<ul ng-repeat="item in items | modulo:9:6 ">
  <li>{{item}}</li>
</ul>

<hr>

<ul ng-repeat="item in items | modulo:9:7 ">
  <li>{{item}}</li>
</ul>

<hr>

<ul ng-repeat="item in items | modulo:9:7 ">
  <li>{{item}}</li>
</ul>

<hr>

<ul ng-repeat="item in items | modulo:9:8 ">
  <li>{{item}}</li>
</ul>
