<p>Partial Ten</p>

<ul ng-repeat="item in items | modulo:10 ">
  <li>{{item}}</li>
</ul>

<hr>

<ul ng-repeat="item in items | modulo:10:1 ">
  <li>{{item}}</li>
</ul>

<hr>

<ul ng-repeat="item in items | modulo:10:2 ">
  <li>{{item}}</li>
</ul>

<hr>

<ul ng-repeat="item in items | modulo:10:3 ">
  <li>{{item}}</li>
</ul>

<hr>

<ul ng-repeat="item in items | modulo:10:4 ">
  <li>{{item}}</li>
</ul>

<hr>

<ul ng-repeat="item in items | modulo:10:5 ">
  <li>{{item}}</li>
</ul>

<hr>

<ul ng-repeat="item in items | modulo:10:6 ">
  <li>{{item}}</li>
</ul>

<hr>

<ul ng-repeat="item in items | modulo:10:7 ">
  <li>{{item}}</li>
</ul>

<hr>

<ul ng-repeat="item in items | modulo:10:7 ">
  <li>{{item}}</li>
</ul>

<hr>

<ul ng-repeat="item in items | modulo:10:8 ">
  <li>{{item}}</li>
</ul>

<hr>

<ul ng-repeat="item in items | modulo:10:9 ">
  <li>{{item}}</li>
</ul>
